@use "./variables" as *;

body {
  font-family: $font;
  background-color: $background-colour;

  .header {
    padding-bottom: $padding;
    .header__title {
      margin-left: $gap;
      font-size: 3rem;
      color: $tileEmpty-color;
      letter-spacing: 0.2ch;
    }

    .header__score-container {
      padding: $smallest-padding;
      background-color: $accent-colour;
      border-radius: $small-padding;
      min-width: $small-tile-width;

      .header__score-title {
        font-size: $score-font-smaller;
        text-align: center;
      }
      .header__score {
        text-align: center;
      }
    }
  }

  .start {
    background-color: $accent-colour;
    color: $background-colour;
    font-size: 2rem;
    padding: 8px 16px;
    border-radius: 5px;
    border: 4px solid #444444;
    box-shadow: 5px 5px 5px 0;
  }

  .start:hover {
    cursor: pointer;
  }

  .start--no-display {
    display: none;
  }

  .game-over {
    background-color: $accent-colour;
    color: $background-colour;
    padding: $small-padding $padding;
    border-radius: $smallest-padding;
    border: 4px solid #444444;
    box-shadow: 5px 5px 5px;
    text-align: center;

    .game-over__text {
      font-size: $big-tile-font-smaller;
      padding: $smallest-padding;
    }
    .game-over__score {
      font-size: $small-tile-font-smaller;
    }
  }

  .game-over--no-display {
    display: none;
  }

  .game-container {
    background-color: $grid-colour;
    border-radius: 6px;

    box-shadow: 5px 5px 12px;

    .game-container__tile {
      background-color: $tileEmpty-color;

      font-size: $small-tile-font;
      text-align: center;
      font-weight: bold;
    }

    .game-container__tile--2 {
      background-color: $tile2-colour;
    }
    .game-container__tile--4 {
      background-color: $tile4-colour;
    }
    .game-container__tile--8 {
      background-color: $tile8-colour;
    }
    .game-container__tile--16 {
      background-color: $tile16-colour;
    }
    .game-container__tile--32 {
      background-color: $tile32-colour;
    }
    .game-container__tile--64 {
      background-color: $tile64-colour;
    }
    .game-container__tile--128 {
      background-color: $tile128-colour;
    }
    .game-container__tile--256 {
      background-color: $tile256-colour;
    }
    .game-container__tile--512 {
      background-color: $tile512-colour;
    }
    .game-container__tile--1024 {
      background-color: $tile1024-colour;
      font-size: $small-tile-font-smaller;
    }
    .game-container__tile--2048 {
      background-color: $tile2048-colour;
      font-size: $small-tile-font-smaller;
    }
  }

  .game-container--no-display {
    display: none;
  }
}

@media screen and (min-width: 520px) {
  body {
    .game-container {
      .game-container__tile {
        font-size: $big-tile-font;
      }

      .game-container__tile--1024 {
        font-size: $big-tile-font-smaller;
      }
      .game-container__tile--2048 {
        font-size: $big-tile-font-smaller;
      }
    }
  }
}
