@use "./variables" as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;

    .header {
        top: 0;        
        width: $small-game-container-width;
        
        display: flex;
        justify-content: space-between;

        .header__title {
            text-align: left;
        }

        .header__score-container {
            align-self: center;
        }
    }

    .game-container {
        width: $small-game-container-width;
        height: $small-game-container-width;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gap;
        padding: $gap;

        .game-container__tile {
            min-height: $small-tile-width;
            min-width: $small-tile-width;

            line-height: $small-tile-width;

            border-radius: 3px;
        }
    }
}

@media screen and (min-width: 520px) {
    body {
        .header {
            width: $big-game-container-width
        }

        .game-container {
            width: $big-game-container-width;
            height: $big-game-container-width;

            padding: 14px;
            gap: 14px;

            .game-container__tile {
                min-height: $big-tile-width;
                min-width: $big-tile-width;

                line-height: $big-tile-width;
            }
        }
    }
}