// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
$font: "Roboto", sans-serif;

// Fonts sizing
$score-font-smaller: 0.75rem;
$small-tile-font: 1.5rem;
$small-tile-font-smaller: 1.2rem;
$big-tile-font: 2.5rem;
$big-tile-font-smaller: 2rem;
$small-header-font: 3rem;

// Colours
$tileEmpty-color: #c4c4c4;
$tile2-colour: #84ffc9;
$tile4-colour: #87f8ce;
$tile8-colour: #8bf1d3;
$tile16-colour: #8eead8;
$tile32-colour: #92e3dd;
$tile64-colour: #95dce2;
$tile128-colour: #9cceeb;
$tile256-colour: #a0c7f0;
$tile512-colour: #a3c0f5;
$tile1024-colour: #a7b9fa;
$tile2048-colour: #aab2ff;

$grid-colour: #8b7e7e;
$accent-colour: #8fbfe0;
$background-colour: #3d5467;

$modal-background: rgba(170, 178, 255, 0.7);
$overlay: rgba(170, 178, 255, 0.3);
$modal-button: #84ffc9;

// Widths and Heights
$small-container-width: 288px;
$small-game-container-width: 280px;
$big-container-width: 508px;
$big-game-container-width: 500px;
$small-tile-width: 58px;
$big-tile-width: 107px;

// Padding, Borders, Radii
$margin-top: 2rem;
$smallest-padding: 5px;
$small-padding: 0.5rem;
$padding: 1rem;
$gap: 8px;
$big-gap: 16px;
