@use "../variables" as *;

body {
  .container {
    .footer {
      .footer__arrow-container {
        .arrow {
          background-color: $accent-colour;
          border-radius: $gap;
        }
      }

      .footer__scoreboard-container {
        width: 50%;
        margin: 0 auto;
        border: 4px solid #444444;
        border-radius: $gap;

        .scoreboard-container__toggle {
          font-family: $font;
          width: 100%;
          padding: 0.25rem 0;
          background-color: $modal-background;
          border: none;
          font-size: $small-tile-font-smaller;
          font-weight: bold;
        }
        .scoreboard-container__toggle:hover {
          cursor: pointer;
          background-color: $overlay;
        }
        .scoreboard-container__scoreboard {
          background-color: $tile1024-colour;
          width: 100%;
          padding: $smallest-padding;
          display: flex;
          flex-direction: column;
          align-items: center;
          overflow: hidden;
          max-height: null;

          .scoreboard-container__score {
            padding: $smallest-padding;
            width: 75px;
          }
        }

        .scoreboard-container__scoreboard--inactive {
          padding: 0;
          max-height: 0;
        }
      }
    }
  }
}
