@use "../variables" as *;

body {
  .container {
    .how-to-container {
      background-color: $modal-background;
      padding: $gap;

      .how-to-container__game-rules {
        width: 95%;
      }
      .how-to-container__close-rules:hover {
        cursor: pointer;
      }
    }
  }
}
