@use "../variables" as *;

body {
  .modal {
    background-color: $modal-background;
    .modal__win-container {
      background-color: $tile2048-colour;
      color: $background-colour;
      font-size: $small-tile-font-smaller;
      padding: $win-padding;
      border-radius: $smallest-padding;
      border: 4px solid #444444;
      box-shadow: 5px 5px 5px 0;
      text-align: center;
      width: $win-container-width;

      .win-container__header {
        margin-bottom: $win-container-breaks;
      }

      hr {
        height: 1px;
        background-color: black;
        border: none;
        margin: $win-container-breaks 0;
      }

      .win-container__continue-text {
        font-size: $small-tile-font-smaller;
      }

      .win-container__responses {
        margin-top: $gap;

        .win-container__buttons {
          font-family: $font;
          font-size: $small-tile-font-smaller;
          padding: $smallest-padding;
          border: 2px solid #444444;
          border-radius: $smallest-padding;
          background-color: $modal-button;
        }

        .win-container__buttons:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 520px) {
  body {
    .modal {
      .modal__win-container {
        font-size: $big-tile-font-smaller;
        padding: $big-gap;
        width: $win-container-width-big;
      }
    }
  }
}
